@import url("./blocks/page/page.css");
@import url("./blocks/page/__link/page__link.css");

@import url("./blocks/logo/logo.css");
@import url("./blocks/logo/_place/logo_place_header.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__title/header__title.css");
@import url("./blocks/header/__subtitle/header__subtitle.css");
@import url("./blocks/header/__image/header__image.css");

@import url("./blocks/intro/intro.css");
@import url("./blocks/intro/__title/intro__title.css");
@import url("./blocks/intro/__quote/intro__quote.css");
@import url("./blocks/intro/__quote-author/intro__quote-author.css");
@import url("./blocks/intro/__text/intro__text.css");

@import url("./blocks/photos-grid/photos-grid.css");
@import url("./blocks/photos-grid/__item/photos-grid__item.css");

@import url("./blocks/cities/cities.css");

@import url("./blocks/city/city.css");
@import url("./blocks/city/__column-left/city__column-left.css");
@import url("./blocks/city/__column-right/city__column-right.css");
@import url("./blocks/city/__title/city__title.css");
@import url("./blocks/city/__title/_large/city__title_large.css");
@import url("./blocks/city/__title/_short/city__title_short.css");
@import url("./blocks/city/__image-container/city__image-container.css");
@import url("./blocks/city/__image/city__image.css");
@import url("./blocks/city/__link/city__link.css");
@import url("./blocks/city/__author/city__author.css");
@import url("./blocks/city/__author-label/city__author-label.css");
@import url("./blocks/city/__author-name/city__author-name.css");
@import url("./blocks/city/__text/city__text.css");
@import url("./blocks/city/__paragraph/city__paragraph.css");

@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__image/footer__image.css");
@import url("./blocks/footer/__content/footer__content.css");
@import url("./blocks/footer/__title/footer__title.css");
@import url("./blocks/footer/__information/footer__information.css");
@import url("./blocks/footer/__link/footer__link.css");
@import url("./blocks/footer/__author/footer__author.css");

body {
  background-color: #2a2c2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
