.footer__image {
  width: 100%;
  margin: 0 auto;
  background-color: #2a2c2f;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
}
.footer__image img {
  width: 100%;
  display: block;
  opacity: 0.7;
  min-height: 254px;
  transition: opacity 2s ease;
}
.footer__image img:hover {
  opacity: 0.2;
}
